@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  body{
    background-color : var(--bg-primary);
    color:#fff;
    font-family: "Roboto Mono", monospace;

  }

}
@layer base{
  :root{
    --bg-primary:#151511;
    --c-green:#3fa603a9;
    --c-gray-light:#ffffff99;
    --c-gray-dark:#31313199;
  }
}