@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    background-color: var(--bg-primary);
    color: #fff;
    font-family: "Roboto Mono", monospace;
  }
  .loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(#161616 0 0);
    background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
  }
  .active {
    width: 100% !important;
    background-color: red;
  }

  @keyframes loading {
    20% {
      background-position: 0% 0%, 50% 50%, 100% 50%;
    }
    40% {
      background-position: 0% 100%, 50% 0%, 100% 50%;
    }
    60% {
      background-position: 0% 50%, 50% 100%, 100% 0%;
    }
    80% {
      background-position: 0% 50%, 50% 50%, 100% 100%;
    }
  }
}
@layer base {
  :root {
    --bg-primary: #151511;
    --bg-secondary: #1f1f1f;
    --dark-gray: #353535;
    --c-green: #3fa603a9;
    --c-gray-light: #ffffff99;
  }
}
